= collection_select :question_wanted, :small_catergories_id, SmallCatergories.where(big_catergories_id: big_catergories_id), :id, :catergories, {}, class: "form-control form-lg form-block", id: "small_area"
