.top_gazo
  = image_tag("背景2.jpeg", class:"image_area",size:"350")
  %p 〜マラソン2.0〜
.inline-block
  %h3 今日のニュース
  %a.twitter-timeline{"data-lang" => "ja", "data-theme" => "light", "data-width" => "600", :href => "https://twitter.com/LongDis05749258/lists/list?ref_src=twsrc%5Etfw"}
  %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
.inline-block
  %h3 大会情報
  %ul.info
    %li 新着情報！！
    %li リユーアルしたよ！！
