.top_gazo
  = image_tag("背景2.jpeg", class:"image_area",size:"300")
  %p マラソン2.0 〜「走る」は楽しい〜
.inline-block
  %h3 新着情報
  %ul.info
    %li 新着情報！！
    %li リユーアルしたよ！！
.inline-block
  %h3 マラソンニュース
  %a.twitter-timeline{ "data-width" => "330", "data-height" => "280", :href => "https://twitter.com/marathon2_0?ref_src=twsrc%5Etfw"} Tweets by marathon2_0
  %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
.inline-block
  %a.twitter-timeline{ "data-width" => "330", "data-height" => "335", :href => "https://twitter.com/marathon2_0/lists/list1?ref_src=twsrc%5Etfw"} A Twitter List by marathon2_0, height: "280"
  %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
.inline-block
  %h3 各ランキング トップ５
  %ul.ranking
    %h4 ランニングレベル
    %ul.level
      %li 1位
      %li 2位
      %li 3位
    %h4 アイテムコレクター
    %ul.item
      %li 1位
      %li 2位
      %li 3位
