.top_gazo
  = image_tag("背景2.jpeg", class:"image_area",size:"300")
  %p マラソン2.0 〜「走る」は楽しい〜
.inline-block
  %h3 新着情報
  %ul.info
    %li エントリー開始の大会！！
.inline-block
  %h2 マラソン2.0とは・・・
  %h4 全てのランナーが「走ることを楽めるように」
  %h4 という願いを込めたWebアプリ
  %ul.info
    %li 大会記録を保存し、自己記録を管理！！
    %li 今まで走ってきた大会が、googleマップに！！
    %li 全国のマラソン大会を自由に検索！！
    %li 日々の練習記録を数値で管理し、分析可能に！！
    %li 全国のランナーと繋がれる！！
    %li ランニングについての疑問は、質問コーナーで解決！！
    %li twitterでマラソン関連のニュースをゲット！！
    %li ランニングレベルを上げて、アイテムをゲット！！
.inline-block
  %h3 マラソンニュース
  %a.twitter-timeline{ "data-width" => "430", "data-height" => "280", :href => "https://twitter.com/marathon2_0?ref_src=twsrc%5Etfw"} Tweets by marathon2_0
  %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
