
.form-wrapper {
  font-size: 12px;
  text-align: center;
  margin: 3em auto;
  width: 40%;
}

.form-item {
  margin-bottom: 18px;
  width: 100%;
}

.form-item input {
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-size: 20px;
  height: 50px;
  width: 100%;
}

.form-footer {
  font-size: 1.3em;
  padding: 1em 0 0 0;
  text-align: center;
  margin-bottom: 18px;
}

.space{
  margin-bottom: 18px;
}

 .fl_li{
   color:#fff;
   background:#2672EC;
 }

.fl_tw2{
  color: #FFF;
  background: #1da1f3;
}

.fl_fb2 {
  color: #FFF;
  background: #4966a0;
}

.fl_go2 {
  color: #FFF;
  background: #DD4B39;
}

.fl_ig2 {
  color: #FFF;
  background: #3F729B;
}

.fl_gh {
  color: #FFF;
  background: #444444;
}
