// Place all the styles related to the practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bootstrap-dt {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 20px;
}

.bootstrap-dhw{
  width: 40%;
  text-align: center;
  font-size:  20px;
}

.space{
  margin-left:15px;
}

.title{
  text-align: center;
}

.bootstrap-sb{
  background: #2672EC;
  color: #fff;
}

.button-field{
  margin-top: 15px;
}
