%h1 Listing run_friends

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @run_friends.each do |run_friend|
      %tr
        %td= link_to 'Show', run_friend
        %td= link_to 'Edit', edit_run_friend_path(run_friend)
        %td= link_to 'Destroy', run_friend, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Run friend', new_run_friend_path
